{% extends "base.html" %}
{% block content %}

<!-- Nav -->
{% include "nav.html" %}
<!-- Nav -->

<div class="container-fluid">
    <div class="media row mb-3">
        <div class="col-md-2">
            <img src="{{ url_for('static', filename=load_name) }}" alt="image section" >
        </div>
        <div class="col-md-10">
            <h3>Image analysis: {{ img_hash }}</h3>
            <small class="text-primary">Submitted at: </small>
        </div>
    </div>

    <!-- Tabs -->
    <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
        <li class="nav-item">
          <a class="nav-link active" id="pills-home-tab" data-toggle="pill" href="#pills-home" role="tab"
            aria-controls="pills-home" aria-selected="true">Dashboard</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="pills-profile-tab" data-toggle="pill" href="#pills-profile" role="tab"
            aria-controls="pills-profile" aria-selected="false">Static</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="pills-contact-tab" data-toggle="pill" href="#pills-contact" role="tab"
            aria-controls="pills-contact" aria-selected="false">EXIF</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="pills-contact-tab" data-toggle="pill" href="#pills-contact" role="tab"
              aria-controls="pills-contact" aria-selected="false">Signatures</a>
          </li>
      </ul>
      <div class="tab-content pt-2 pl-1" id="pills-tabContent">
        <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">
            Dashboard
        </div>
        <div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab">
            Static
        </div>
        <div class="tab-pane fade" id="pills-contact" role="tabpanel" aria-labelledby="pills-contact-tab">
            EXIF Meta data
        </div>
        <div class="tab-pane fade" id="pills-contact" role="tabpanel" aria-labelledby="pills-contact-tab">
            Signatures detected
        </div>
      </div>
    <!-- Tabs -->
</div>
{% endblock %}
