{% extends "base.html" %}
{% block content %}

<!-- Nav -->
{% include "nav.html" %}
<!-- Nav -->

<div class="container-fluid">
    <div class="media row mb-3">
        <div class="col-md-2">
            <img class="img img-fluid" src="{{ url_for('static', filename=load_name) }}" alt="image section" >
        </div>
        <div class="col-md-10">
            <h3>Image analysis: {{ img_data['img_name'] }}</h3>
            <small class="text-primary">Submitted at: {{ analyzed_time }}</small>
        </div>
    </div>

    <!-- Tabs -->
    <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
        <li class="nav-item">
          <a class="nav-link active" id="pills-home-tab" data-toggle="pill" href="#pills-dashboard" role="tab"
            aria-controls="pills-dashboard" aria-selected="true">Dashboard</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="pills-static-tab" data-toggle="pill" href="#pills-static" role="tab"
            aria-controls="pills-static" aria-selected="false">Static</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="pills-exif-tab" data-toggle="pill" href="#pills-exif" role="tab"
            aria-controls="pills-exif" aria-selected="false">EXIF</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="pills-signature-tab" data-toggle="pill" href="#pills-signature" role="tab"
              aria-controls="pills-signature" aria-selected="false">Signatures</a>
          </li>
      </ul>
      <div class="tab-content pt-2 pl-1" id="pills-tabContent">
        <div class="tab-pane fade show active" id="pills-dashboard" role="tabpanel" aria-labelledby="pills-dashboard-tab">
            <table class="table table-sm">

            </table>
        </div>
        <div class="tab-pane fade" id="pills-static" role="tabpanel" aria-labelledby="pills-static-tab">
            <p class="fs-3">Static info</p>
            <table class="table table-sm table-dark table-bordered table-hover">
                <thead>
                    <th>Type</th>
                    <th>Value</th>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row">FileType</th>
                        <td>{{ img_data["filetype"] }}</td>
                    </tr>
                    <tr>
                        <th scope="row">Dimensions</th>
                        <td>{{ img_data["filesize"] }}</td>
                    </tr>
                    <tr>
                        <th scope="row">FileSize</th>
                        <td>{{ img_data["filevolum"] }} B</td>
                    </tr>
                </tbody>
            </table>

            <p class="fs-3">Hashes</p>
            <table class="table table-sm table-dark table-bordered table-hover">
                <thead>
                    <th>Type</th>
                    <th>Value</th>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row">SHA1</th>
                        <td>{{ img_data["img_sha1"] }}</td>
                    </tr>
                    <tr>
                        <th scope="row">SHA256</th>
                        <td>{{ img_data["img_sha256"] }}</td>
                    </tr>
                    <tr>
                        <th scope="row">MD5</th>
                        <td>{{ img_data["img_md5"] }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="tab-pane fade" id="pills-exif" role="tabpanel" aria-labelledby="pills-exif-tab">
            EXIF Meta data
            <div class="col-md-6 offset-md-3">
                {{ folium_map|safe }}
            </div>
        </div>
        <div class="tab-pane fade" id="pills-signature" role="tabpanel" aria-labelledby="pills-signature-tab">
            Signatures detected
        </div>
      </div>
    <!-- Tabs -->
</div>
{% endblock %}
