<p class="font-weight-bold">Signatures detected</p>
<table class="table table-sm table-dark table-bordered table-hover">
    <thead>
        <th>Type</th>
        <th>Value</th>
    </thead>
    <tr>
        <th scope="row">Header</th>
        <th id="header">{{ img_data['header_signature'] }}</th>
    </tr>
</table>

<script>
    window.onload = function(){
        const headerText = document.querySelector('#header')
        headerText.innerText = headerText.innerText.replace(/(.{2})/g,"$1 ")
    }
</script>
