{% extends "base.html" %}
{% block content %}
<!-- 배너 영역 -->
<div class="jumbotron jumbotron-fluid mt-5" id="banner">
    <div class="container">
        <h2 class="display-4" style="font-weight: bold;">
            Error:
        </h2>
        <p class="lead" style="color: lightyellow;">
            {{ msg }}
        </p>
    </div>
</div>
<!-- 배너 영역 -->

<p class="d-flex justify-content-center note note-light">
    이미지 클릭 후 팬하기 부탁드립니다 :)
</p>

<div class="d-flex justify-content-center">
    <a href="https://in.naver.com/neltia">
        <img 
            class="img-fluid shadow-2-strong"
            src="/static/images/namecard.png"
        />
    </a>
</div>

{% endblock %}
